*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}

body{
   background-color: #D9BBA0;
}


/* Nav Container */
.navContainer {
    padding: 12px;
    display: flex;
    justify-content: space-around;
    transition-duration: 1s;
}
.navContainer:hover {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.home,
.projects,
.experience,
.contact, a{
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(86, 85, 85, 0.845);
    transition: .2s ease-in;
    text-decoration: none;
}

.home:hover,
.projects:hover,
.experience:hover,
.contact:hover, a:hover {
    margin: 15px;
    font-weight: bold;
    font-size: 22px;
    color:black;
    cursor:pointer;
    /* text-decoration: underline; */
   
}

.resume {
    background-image: url("https://images.unsplash.com/photo-1506494491502-7563f654329e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    padding: 95px;
    text-align: center;
    
}
.title{
    font-size: 50px;
    margin-bottom: 70px;
}

.work1 {
    border: inset 10px grey;
    padding: 45px;
    line-height: 50px;
    margin-top: 30px;
    background-color: #d9bba06d;
}

.work2 {
    border: inset 10px grey;
    background-color: #d9bba06d;
    padding: 45px;
    line-height: 50px;
    margin-top: 30px;
}

.work3 {
    border: inset 10px grey;
    padding: 45px;
    line-height: 50px;
    margin-top: 30px;
    background-color: #d9bba06d;
}
/* Footer Container */
.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 50px;
}
