body{
    margin: 30px;
   background-color: #D9BBA0;
}
.navContainer {
    margin: 10px;
    /* border: 3px double black; */
    /* background-color:  */
    display: flex;
    justify-content: space-around;
}
.navContainer:hover {
    margin: 10px;
    transition: 1s;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.home,
.projects,
.experience,
.contact{
    margin: 15px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(86, 85, 85, 0.845);
}

.home:hover,
.projects:hover,
.experience:hover,
.contact:hover {
    margin: 15px;
    font-weight: bold;
    font-size: 21px;
    color:black;
    cursor:pointer;
    text-decoration: underline;
    transition: .2s ease-in;
   
}